# afrofem-ds-2

In [2]:
# importing python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# reading in the data
netflix_df = pd.read_csv('NetflixViewingHistory.csv')
netflix_df.head()

                                               Title     Date
0         Russian Doll: Season 2: Station to Station   5/4/22
1                Russian Doll: Season 2: Brain Drain   5/3/22
2          Russian Doll: Season 2: Coney Island Baby  4/26/22
3                     Russian Doll: Season 2: Nowhen  4/26/22
4  Eternally Confused and Eager for Love: Season ...  4/10/22

#### How many entries AKA rows are in the data?

In [8]:
#using shape to find number of rows
netflix_df.shape[0]

1972

There are 1972 entries/rows in the data

#### How many columns are in the data?

In [7]:
#using shape to find number of columns
netflix_df.shape[1]

2

There are two columns in the data

#### What is the name of the first column in the data?

In [46]:
netflix_df.columns[0]

'Title'

The first column in the dataframe is called Title

#### What is the name of the second column in the data?

In [12]:
netflix_df.columns[1]

Date

The second column in the dataframe is called Date

#### How many times was an episode of the show Designated Survivor watched according to the data?

In [22]:
keyword = 'Designated Survivor'

sum(netflix_df['Title'].apply(lambda title: keyword in title))

10

Designated Survivor was shown ten times

#### When was the starting date of watching the show Bridgerton according to the data?

In [30]:
#find entries with 'Bridgerton' in them
netflix_df.loc[['Bridgerton' in title for title in netflix_df['Title']],:]

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [33]:
#sort entries by date
netflix_bridg = netflix_df.loc[['Bridgerton' in title for title in netflix_df['Title']],:].sort_values('Date')
netflix_bridg

                                                Title     Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
15               Bridgerton: Season 2: Capital R Rake  3/26/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
10                   Bridgerton: Season 2: The Choice   4/2/22
9                       Bridgerton: Season 2: Harmony   4/3/22
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22

In [38]:
#extracting the Date column and getting earliest date
netflix_bridg['Date'].iloc[0]

'1/8/21'

The starting date of watching the show Bridgerton was 1/8/21

#### What is the title of the first episode of the show Bridgerton watched according to the data?

In [40]:
netflix_df.loc[['Bridgerton' in title for title in netflix_df['Title']],:].sort_values('Date')

                                                Title     Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
15               Bridgerton: Season 2: Capital R Rake  3/26/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
10                   Bridgerton: Season 2: The Choice   4/2/22
9                       Bridgerton: Season 2: Harmony   4/3/22
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22

In [41]:
netflix_bridg['Title'].iloc[0]

'Bridgerton: Season 1: An Affair of Honor'

The episode watched according to the date 1/8/21 is 'Bridgerton: Season 1: An Affair of Honor'

#### When was the last date of watching the show Bridgerton according to the data?

In [43]:
netflix_last = netflix_df.loc[['Bridgerton' in title for title in netflix_df['Title']],:].sort_values('Date', ascending=False)
netflix_last

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [44]:
netflix_last['Date'].iloc[0]

'4/4/22'

The date of watching the show Bridgerton according to the data is 4/4/22

#### What is the title of the last episode of the show Bridgerton watched according to the data?

In [45]:
netflix_last['Title'].iloc[0]

'Bridgerton: Season 2: The Viscount Who Loved Me'

The last episode of the show Bridgerton watched according to the data is 'Bridgerton: Season 2: The Viscount Who Loved Me'